.dis-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #0000004b;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}
.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.modal.show {
  visibility: visible;
  opacity: 1;
}
.modal__window {
  padding: 20px;
  position: relative;
  width: 500px;
  height: 800px;
  margin: 20px auto;
  display: none;
  vertical-align: middle;
  background-color: #fff;
  cursor: default;
  text-align: left;
  transition: opacity var(--transition-time), visibility var(--transition-time), transform var(--transition-time);
}
.modal__window.in-block {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}
.modal__window.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
